textarea.no-resize {
    resize: none;
}

textarea.comment {
    height: 125px;
}

p {
    word-break: break-all;
}

button.btn-delete-comment {
    visibility: hidden;
}

div.comment-delete-gutter {
    width: 33.25px;
}

img.large-profile-picture {
    max-width: 250px;
    max-height: 250px;
}