<!DOCTYPE HTML>
<html>
<head>
    <title>Identity Platform</title>

    <link rel="icon" type="img/ico" href="img/Shield.png" />

    <environment names="Staging, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <header>
        @await Component.InvokeAsync("NavBar")
    </header>

    <main class="container">@RenderBody()</main>

    <environment names="Staging, Production">
        <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
        <script src="~/lib/popperjs/dist/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.slim.js"></script>
        <script src="~/lib/popperjs/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    </environment>
</body>
</html>