<div class="alert alert-info my-3" role="alert">
    <h4 class="alert-heading">Access Denied!</h4>
    <p>Sorry, but you're not allowed here.</p>
    <hr>
    <a class="btn btn-lg btn-outline-dark" asp-controller="Home" asp-action="Index">Back to Safety</a>
</div>