@model UserCredentials

<div class="row justify-content-center">
    <div class="card col-sm-4 text-center my-4 py-4">
        <h5 class="card-title">So, who do you want to be?</h5>

        <form method="post" asp-controller="Account" asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input class="form-control" asp-for="Username" placeholder="Choose a username"/>
                <div><span asp-validation-for="Username" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" placeholder="Enter your email (optional)"/>
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input class="form-control" asp-for="PhoneNumber" placeholder="Enter your phone number (optional)"/>
                <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input class="form-control" asp-for="Password" placeholder="Choose a password"/>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
            </div>

            <div class="form-group">
                <label asp-for="RepeatPassword"></label>
                <input class="form-control" asp-for="RepeatPassword" placeholder="Confirm your password"/>
                <div><span asp-validation-for="RepeatPassword" class="text-danger"></span></div>
            </div>

            <button type="submit" class="btn btn-primary">Sign up</button>

            <div class="dropdown-divider"></div>

            <a class="btn btn-info btn-block"
               asp-controller="Account" asp-action="GoogleLogin"
               asp-route-returnUrl="@ViewBag.ReturnUrl">
                Sign in via Google
            </a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl">Already a member? Sign in!</a>
        </form>
    </div>
</div>